---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';

---

<Layout title="About.">
	<Navigation />
	<main data-barba="container" data-barba-namespace="about">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>About page</h1>
				</div>
				<div class="col-12">
					<img src="http://placehold.jp/3d4070/ffffff/900x1600.jpg?text=About%20Us" alt="">
				</div>
			</div>
		</div>
	</main>
</Layout>

