---
import Layout from '../layouts/Layout.astro';
import ScriptsLibrary from '../components/ScriptsLibrary.astro';
import Navigation from '../components/Navigation.astro';

---

<Layout title="Welcome to Astro.">
	<Navigation />
	<main data-barba="container" data-barba-namespace="/">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="heading1 load-hidden">Hi, I'm Samuel. I'm a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.</h1>
					<h1 class="heading2">My portfolio is currently under construction.</h1>
					<br/>
					<button class="button button-primary test">Click</button>
				</div>
				<div class="col-12">
					<img src="https://placehold.jp/ec8eaa/ffffff/1600x600.jpg?text=Homepage" alt="">
				</div>
			</div>
		</div>
	</main>
	
</Layout>

