---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

---

<Layout title="Welcome to Astro.">
	<Navigation />
	<main data-barba="container" data-barba-namespace="/">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="py-5">
						<h1 class="display-4 heading1 load-hidden">
							Hi, I'm Samuel. I'm a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.
							<br />
							My portfolio is currently under construction.
						</h1>
					</div>
					<br/>
					<button class="btn btn-primary test">Click</button>
				</div>
				<div class="col-12">
					<img class="img-fluid" src="https://via.placeholder.com/900x1600/ec8eaa/ffffff?text=Homepage" alt="">
				</div>
			</div>
		</div>
	</main>
	<script>
		import '../js/home.js';
	</script>
</Layout>

