---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

---

<Layout title="Welcome to Astro.">
	<Navigation />
	<main data-barba="container" data-barba-namespace="scrolltrigger">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="py-5">
						<h1 class="display-1">
							Scroll trigger GSAP
						</h1>
					</div>
				</div>
				<div class="col-12">
					<div style="height: 1200px">
					</div>
				</div>
			</div>
		</div>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="box display-5">My Box</div>
        </div>
        <div class="col-6">
          hello
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-6">
          
        </div>
        <div class="col-6">
					<div style="height: 1200px;"></div>
          <img class="img-fluid" src="https://via.placeholder.com/900x1200/ec8eaa/ffffff?text=Homepage" alt="">
        </div>
      </div>
    </div>

	</main>
	<script>
		import '../js/scrolltrigger.js';
	</script>
</Layout>

