---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';

---

<Layout title="Work.">
	<Navigation />
	<main data-barba="container" data-barba-namespace="work">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Work page</h1>
				</div>
				<div class="col-12">
					<img src="https://placehold.jp/5bed1d/ffffff/900x1600.jpg?text=Work%20page" alt="">
				</div>
			</div>
		</div>
	</main>
</Layout>

